{{#products}}
<div class="product-card">
    <div class="product-header">
        <h4 class="product-name">{{name}}</h4>
    </div>
    <div class="product-body">
        <div class="product-photo">
            <img src="/images/products/{{imageUrl}}" alt="{{name}}"
                 class="product-image"
                 onclick="showImageDetailForm('{{name}}', '/images/products/{{imageUrl}}')"
            >
        </div>
        <div class="product-info">
            <p class="product-description">{{description}}</p>
            <h4 class="product-price">${{price}}</h4>
        </div>
    </div>
    <div class="product-footer">
        <button class="btn btn-success add-to-cart" onclick="cartService.addToCart({{productId}})">
            <i class="fas fa-cart-plus"></i> Add to Cart
        </button>
    </div>
</div>
{{/products}}